/* RegisterPage.css */

.register-page {
    display: flex;
    height: 100vh;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQPwmZ3__jCuDvX2PnLPAL6LyqFnx8sgfChw&usqp=CAU');
    background-size: cover;
  }
  
  .left-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:rgb(196,180,248);
    font-size: 30px;
    padding: 40px;
    margin: 30px;
    
  }
  
  
  .right-box {
    flex: 1;
    background-color: rgb(23,26,39);;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    text-align: center;
  }
  #ri{
    font-size: 35px;
    color: white;
  }
  #rig{
    font-size: 15px;
    color: white;
  }
  #an{
    color: white;
    font-size: 20px;
    
  }
  input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: rgb(23,26,39);
    border-inline: none;
  }
  .circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .plus {
    font-size: 24px;
  }
  
  
  
  
 

 
  
  

  
    
  
  
  

  
  
  
  
  
  
  
  
  
  
  
  
  